<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home" , root_path, class: 'btn btn-secondary' %>
        <%= link_to "Edit profile" , edit_user_registration_path, class: 'btn btn-secondary' %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <% if user_signed_in? %>
    <li><%= link_to "Log out" , destroy_user_session_path, class:'btn btn-danger', method: "delete" %></li>
    <% else %>
    <li>
    <%= link_to "Sign up" , new_user_registration_path, class:'btn btn-warning my-2 my-sm-0' %>
    <%= link_to "Log in" , new_user_session_path, class:'btn btn-success' %>
    </li>
    <% end %>
    </form>
  </div>
</nav>