<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home" , root_path, class: 'btn btn-secondary' %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <% if user_signed_in? %>
    <li><%= link_to "Log out" , destroy_user_session_path, class:'btn btn-danger', method: "delete" %></li>
    <% else %>
    <li>
    <%= link_to "Sign up" , new_user_registration_path, class:'btn btn-warning my-2 my-sm-0' %>
    </li>
    <% end %>
    </form>
  </div>
</nav>
<br><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 shadow-lg p-0 mb-5 bg-white rounded">
      <div class="card">
        <header class="card-header">
          <h4 class="card-title mt-2">Log in</h4>
        </header>
        <article class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: '' %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', required: '' %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
            <div class="form-group">
              <div class="actions">
                <%= f.submit "Log in", class: 'btn btn-success btn-block' %>
              </div>
            </div>
          <% end %>
        </article>
          <div class="border-top card-body text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>