<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home" , root_path, class: 'btn btn-secondary' %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <li><%= link_to "Log out" , destroy_user_session_path, class:'btn btn-danger', method: "delete" %></li>
    </form>
  </div>
</nav>
<br><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 shadow-lg p-0 mb-5 bg-white rounded">
      <div class="card">
        <header class="card-header">
          <h4 class="card-title mt-2">Edit <%= resource_name.to_s.humanize %></h4>
        </header>
        <article class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: '' %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', required: '' %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', required: '' %>
            </div>

            <div class="field">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control', required: '' %>
            </div>
            <br>
            <div class="actions">
              <%= f.submit "Update", class: 'btn btn-warning btn-block' %>
            </div>
          <% end %>
          <br>
          <h3>Cancel my account</h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-block' %></p>

          <%= link_to "Back", :back %>
        </article>
          <div class="border-top card-body text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>