<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home" , root_path, class: 'btn btn-secondary' %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <% if user_signed_in? %>
    <li><%= link_to "Log out" , destroy_user_session_path, class:'btn btn-danger', method: "delete" %></li>
    <% else %>
    <li>
    <%= link_to "Log in" , new_user_session_path, class:'btn btn-success' %>
    </li>
    <% end %>
    </form>
  </div>
</nav>
<br><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 shadow-lg p-0 mb-5 bg-white rounded">
      <div class="card">
        <header class="card-header">
          <h4 class="card-title mt-2">Sign up</h4>
        </header>
        <article class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-row">
              <div class="col form-group">
                <div class="field">
                  <%= f.label :first_name %><br />
                  <%= f.text_field :first_name, class: 'form-control', id: 'first_name', required: '' %>
                </div>
              </div>

              <div class="col form-group">
                <div class="field">
                  <%= f.label :last_name %><br />
                  <%= f.text_field :last_name, class: 'form-control', required: '' %>
                </div>
              </div>
            </div>

            <div class="field">
              <%= f.label :date_of_birth %><br />
              <%= f.date_field :date_of_birth, class: 'form-control', required: '' %>
            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: '' %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', required: '' %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', required: '' %>
            </div>
            <br>
            <div class="form-group">
              <div class="actions">
              <%= f.submit "Sign up", class: 'btn btn-warning btn-block' %>
              </div>
            </div>
          <% end %>
        </article>
        <div class="border-top card-body text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
